.main_chat
  .main_chat__group-info
    .main_chat__group-info__group 
      = @group.name
      .main_chat__group-info__group__user
        %ul.main_chat__group-info__group__user__members
          Member :
          %li.main_chat__group-info__group__user__members__member
            - @group.group_users.each do |group_user|
              = group_user.user.name
    = link_to "Edit", edit_group_path(@group), class: "main_chat__group-info__edit"
  .main_chat__message-list
    .main_chat__message-list__margin
    =render @messages
  .main_chat__message-from
    = form_with model: [@group, @message], html: {class: "main_chat__message-from__form"}, local: true do |f|
      .main_chat__message-from__form__contents
        = f.text_field :body, class: "main_chat__message-from__form__contents__input", placeholder: "type a message"
        = f.label :image, class: "main_chat__message-from__form__contents__icon" do
          =icon("far", "image", class: "main_chat__message-from__form__contents__icon__2")
          = f.file_field :image, class: "main_chat__message-from__form__contents__icon__hidden"
      = f.submit "Send", class: "main_chat__message-from__form__input-btn"


      -#   %input.main_chat__message-from__form__contents__input{"placeholder": "type a message", "type": "text"}
      -#   %label.main_chat__message-from__form__contents__icon
      -#     =icon("fa", "image")
      -# %input.main_chat__message-from__form__input-btn{"type": "submit", "value": "SEND"}

